@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
.toggle-container {
  width: 100vw;
  max-width: 45px;
  height: 45px;
  position: absolute;
  right: 50%;
  top: 18px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  z-index: 4;
}

.toggle-container .toggle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.toggle-container .toggle .btn {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50% 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 103%;
  height: 103%;
  font-size: 1.5rem;
}

.toggle-container .toggle .btn.dark-mode {
  background-image: url(./img/stars.jpg);
  background-position: center;
  background-size: cover;
  color: #f3f1c9;
}

.toggle-container .toggle .btn.light-mode {
  background: #38b0de;
  color: #fbd429;
}

.toggle-container .toggle .btn:focus {
  border: none;
  outline: none;
}

@media (min-width: 767px) {
  .toggle-container {
    top: 16px;
    right: 32px;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  position: relative;
}

.App .navbar {
  position: relative;
  z-index: 2;
  max-width: 1100px;
  margin: 0 auto;
}

.App .navbar-logo {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 16px;
  top: 16px;
}

.App .navbar-logo-image {
  width: 100%;
}

.App .navbar-nav {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 700px;
  min-width: 400px;
  margin: 0 auto;
}

.App .navbar-nav .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 82px;
  padding: 0;
}

.App .navbar-nav .list-item {
  text-decoration: none;
  font-size: 1.5rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.App .navbar-nav-mobile {
  color: white;
  position: absolute;
  right: 0px;
  margin-top: 1rem;
  font-size: 3rem;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  cursor: pointer;
}

.App .navbar-nav-mobile-side {
  position: absolute;
  right: -300%;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  margin-top: 82px;
  width: 100vw;
  height: calc(100vh - 82px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .navbar-nav-mobile-side.slide {
  right: 0;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.App .navbar-nav-mobile-side .list-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  height: 100%;
  width: 100vw;
  list-style: none;
  text-align: center;
}

.App .navbar-nav-mobile-side .list-mobile .list-item {
  height: 100%;
  width: 100vw;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.App .container {
  max-width: 1100px;
  margin: 82px auto;
  min-height: calc(100vh-82px);
  margin-top: 2rem;
}

.App .container .about {
  text-align: center;
}

.App .container .about-image .photo {
  width: 100%;
}

.App .container .about .open-modal {
  padding: 1rem;
}

.App .container .about .open-modal-btn {
  display: block;
  margin: 1rem auto;
  border: none;
  outline: none;
  padding: 0.7rem 1.5rem;
  background-color: #fbd429;
  color: #020202;
  border-radius: 5px;
  font-size: 1.4rem;
  cursor: pointer;
}

.App .container .about .modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.App .container .about .modal-content {
  background-color: #f4f4f4;
  margin: 10% auto;
  padding: 1rem;
  height: 90vw;
  min-height: 410px;
  width: 90vw;
  max-width: 1000px;
  max-height: 600px;
  width: calc(100vw-1rem);
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .container .about .modal-content .box {
  width: 90%;
  margin: auto auto;
}

.App .container .about .modal-content .box .youtube {
  width: 100%;
}

.App .container .about .modal-content .modal-close-btn {
  position: absolute;
  right: 1rem;
  color: #ccc;
  font-size: 30px;
}

.App .container .about .modal-content .modal-close-btn:hover,
.App .container .about .modal-content .modal-close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.App .container .rules {
  text-align: center;
  margin-bottom: 4rem;
  padding: 0;
}

.App .container .rules .swiper-container {
  max-width: 1100px;
  height: 500px;
  z-index: 1;
  border-radius: 5px;
}

.App .container .rules .swiper-container .swiper-button-prev, .App .container .rules .swiper-container .swiper-button-next {
  color: #020202;
}

.App .container .rules .swiper-container .swiper-pagination-bullet-active {
  background-color: #020202;
}

.App .container .rules-accordions {
  padding-right: 1rem;
}

.App .container .rules-accordions .accordion .list {
  list-style: none;
}

.App .container .rules-accordions .accordion .list .item {
  padding-left: 1.3rem;
}

.App .container .rules-accordions .accordion .list .item:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f45f";
  margin-left: 3px;
  display: inline-block;
  background: #fff;
  width: 31px;
  height: 31px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .container .rules-accordions .accordion .list-list {
  list-style: none;
}

.App .container .rules-accordions .accordion .list-list .item {
  padding-left: 1.3rem;
}

.App .container .rules-accordions .accordion .list-list .item:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f140";
  margin-left: 3px;
  display: inline-block;
  background: #fff;
  width: 31px;
  height: 31px;
}

.App .container .rules .yellow {
  background: #999;
}

.App .container .rules .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .container .rules .swiper-slide .step {
  padding: 1rem;
  margin: 0 auto;
  max-width: 100vw;
}

.App .container .rules .swiper-slide .step-box {
  width: 250px;
  margin: 0 auto;
}

.App .container .rules .swiper-slide .step-box .photo {
  width: 100%;
}

.App .container .rules .swiper-slide .step .text .red {
  color: #ce1622;
}

.App .container .rules .swiper-slide .step .text .blue {
  color: #1754ed;
}

.App .container .rules .swiper-slide .step .text .title {
  margin: 0;
}

.App .container .spikeball-counter-logo {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 350px;
  height: 200px;
  margin: 0 auto;
}

.App .container .spikeball-counter-logo-image {
  width: 100%;
}

.App .container .spikeball-counter-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .container .spikeball-counter-options .form {
  max-width: 300px;
}

.App .container .spikeball-counter-options .form .options-select {
  text-align: center;
}

.App .container .spikeball-counter-options .form .options-select-max-points {
  padding: 1rem;
}

.App .container .spikeball-counter-options .form .options-select-bo {
  padding: 1rem;
}

.App .container .spikeball-counter-options .form .option-players .info {
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
}

.App .container .spikeball-counter-options .form .teams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .container .spikeball-counter-options .form .teams .form-group {
  margin: 1rem 0;
  text-align: center;
  padding: 1rem;
}

.App .container .spikeball-counter-options .form .teams .form-group.red {
  background-color: #ce1622;
}

.App .container .spikeball-counter-options .form .teams .form-group.blue {
  background-color: #1754ed;
}

.App .container .spikeball-counter-options .form .teams .form-group .team-name {
  color: #020202;
}

.App .container .spikeball-counter-options .form .teams .form-group .player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.3rem;
}

.App .container .spikeball-counter-options .form .teams .form-group .player .input-text {
  padding: 0.5rem;
  outline: none;
  border: none;
}

.App .container .spikeball-counter-options .form .teams .form-group .player .input-checkbox {
  display: none;
}

.App .container .spikeball-counter-options .form .teams .form-group .player .input-checkbox + label:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f007";
  margin-left: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  width: 31px;
  height: 31px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .container .spikeball-counter-options .form .teams .form-group .player .input-checkbox:checked + label:before {
  background: #fbd429;
  color: #333;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f45f";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .container .spikeball-counter-options .form .start {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .container .spikeball-counter-options .form .start .alert {
  padding: 1rem;
  text-align: center;
  height: 2rem;
}

.App .container .spikeball-counter-options .form .start .start-btn {
  display: block;
  width: 200px;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  outline: none;
  background-color: #fbd429;
  border: none;
  border-radius: 5px;
}

.App .container .spikeball-counter-options .form .start .start-btn:hover, .App .container .spikeball-counter-options .form .start .start-btn:focus {
  background: #bb9903;
}

.App .container .spikeball-counter-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.App .container .spikeball-counter-game .modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.App .container .spikeball-counter-game .modal-content {
  background-color: #f4f4f4;
  margin: 10% auto;
  padding: 1rem;
  height: 90vw;
  min-height: 410px;
  width: 90vw;
  max-width: 400px;
  max-height: 400px;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

.App .container .spikeball-counter-game .modal-content .who-starts {
  width: 200px;
  height: 110px;
  margin: 0 auto;
  text-align: center;
}

.App .container .spikeball-counter-game .modal-content .who-starts-ask {
  font-size: 1.3rem;
}

.App .container .spikeball-counter-game .modal-content .who-starts-answer {
  font-size: 1.5rem;
  font-weight: bold;
}

.App .container .spikeball-counter-game .modal-content .who-starts-answer.red {
  color: #ce1622;
}

.App .container .spikeball-counter-game .modal-content .who-starts-answer.blue {
  color: #1754ed;
}

.App .container .spikeball-counter-game .modal-content .closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
}

.App .container .spikeball-counter-game .modal-content .closeBtn:hover,
.App .container .spikeball-counter-game .modal-content .closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.App .container .spikeball-counter-game .modal-content .coin {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes flipOne {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(1080deg);
            transform: rotateY(1080deg);
  }
}

@keyframes flipOne {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(1080deg);
            transform: rotateY(1080deg);
  }
}

@-webkit-keyframes flipTwo {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(900deg);
            transform: rotateY(900deg);
  }
}

@keyframes flipTwo {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(900deg);
            transform: rotateY(900deg);
  }
}

.App .container .spikeball-counter-game .modal-content .coin .coin-back {
  background: #ce1622 url(./img/spikeball_logo_coin_back-removebg-preview.png) no-repeat center center;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.App .container .spikeball-counter-game .modal-content .coin .coin-back::before {
  content: "";
  z-index: -1;
  display: block;
  background: #1754ed url(./img/spikeball_logo_coin_front-removebg-preview.png) no-repeat center center;
  width: 260px;
  height: 260px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  -webkit-transform: translateZ(4px);
          transform: translateZ(4px);
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

.App .container .spikeball-counter-game .modal-content .coin .coin-back.red {
  -webkit-animation: flipTwo 3s forwards;
          animation: flipTwo 3s forwards;
}

.App .container .spikeball-counter-game .modal-content .coin .coin-back.blue {
  -webkit-animation: flipOne 3s forwards;
          animation: flipOne 3s forwards;
}

.App .container .spikeball-counter-game .points {
  width: 100%;
  max-width: 450px;
}

.App .container .spikeball-counter-game .points-teams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .container .spikeball-counter-game .points-teams .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.App .container .spikeball-counter-game .points-teams .team.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.App .container .spikeball-counter-game .points-teams .team .sets {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  text-align: center;
  position: relative;
  color: #020202;
}

.App .container .spikeball-counter-game .points-teams .team .sets .set {
  font-size: 0.8rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.App .container .spikeball-counter-game .points-teams .team .sets.right {
  float: right;
}

.App .container .spikeball-counter-game .points-teams .team .sets.red {
  background: #ce1622;
}

.App .container .spikeball-counter-game .points-teams .team .sets.blue {
  background: #1754ed;
}

.App .container .spikeball-counter-game .points-teams .team .points {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .container .spikeball-counter-game .points-teams .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
}

.App .container .spikeball-counter-game .controllers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .container .spikeball-counter-game .controllers .btn-player,
.App .container .spikeball-counter-game .controllers .after-faul {
  cursor: pointer;
  display: block;
  padding: 1rem 0;
  width: 145px;
  border: none;
  outline: none;
  margin: 0.5rem;
  font-size: 1.2rem;
}

.App .container .spikeball-counter-game .controllers .btn-player.teamone,
.App .container .spikeball-counter-game .controllers .after-faul.teamone {
  background: #ce1622;
}

.App .container .spikeball-counter-game .controllers .btn-player.teamone:hover,
.App .container .spikeball-counter-game .controllers .after-faul.teamone:hover {
  background: #e92e3a;
}

.App .container .spikeball-counter-game .controllers .btn-player.teamtwo,
.App .container .spikeball-counter-game .controllers .after-faul.teamtwo {
  background: #1754ed;
}

.App .container .spikeball-counter-game .controllers .btn-player.teamtwo:hover,
.App .container .spikeball-counter-game .controllers .after-faul.teamtwo:hover {
  background: #4677f1;
}

.App .container .spikeball-counter-game .controllers .btn-player-icon,
.App .container .spikeball-counter-game .controllers .after-faul-icon {
  padding: 0 0.4em;
}

.App .container .spikeball-counter-game .rounds .round {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  width: 100%;
}

.App .container .spikeball-counter-game .rounds .round .point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45px;
  height: 110px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.App .container .spikeball-counter-game .rounds .round .point .action {
  text-align: center;
}

.App .container .spikeball-counter-game .rounds .round .point-get, .App .container .spikeball-counter-game .rounds .round .point-lose {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .container .spikeball-counter-game .rounds .round .point-get.red, .App .container .spikeball-counter-game .rounds .round .point-lose.red {
  background: #44070b;
}

.App .container .spikeball-counter-game .rounds .round .point-get.blue, .App .container .spikeball-counter-game .rounds .round .point-lose.blue {
  background: #082263;
}

.App .container .spikeball-counter-game .new-game {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .container .spikeball-counter-game .new-game-btn {
  padding: 1rem 1.5rem;
  width: 250px;
  border: none;
  outline: none;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fbd429;
  font-weight: bold;
}

.App .container .spikeball-counter-results .results-game {
  text-align: center;
}

.App .container .spikeball-counter-results .results-game .sets {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .container .spikeball-counter-results .results-game .sets-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 70px;
}

.App .container .spikeball-counter-results .results-game .sets-team .team,
.App .container .spikeball-counter-results .results-game .sets-team .player,
.App .container .spikeball-counter-results .results-game .sets-team .afterMistake {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 69px;
  width: 50px;
  border: 1px solid #020202;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .container .spikeball-counter-results .results-game .sets-team .team-small,
.App .container .spikeball-counter-results .results-game .sets-team .player-small,
.App .container .spikeball-counter-results .results-game .sets-team .afterMistake-small {
  font-size: 0.8rem;
  text-align: center;
}

.App .container .spikeball-counter-results .results-game .sets-team .team {
  font-size: 3rem;
}

.App .container .spikeball-counter-results .results-game .sets-team.blue {
  background: #1754ed;
}

.App .container .spikeball-counter-results .results-game .sets-team.red {
  background: #ce1622;
}

.App .container .spikeball-counter-results .set {
  text-align: center;
}

.App .container .spikeball-counter-results .set .set-points {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  max-width: 600px;
  margin: 0 auto;
}

.App .container .spikeball-counter-results .set .set-points .point {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45px;
  height: 110px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.App .container .spikeball-counter-results .set .set-points .point .action {
  text-align: center;
}

.App .container .spikeball-counter-results .set .set-points .point-get, .App .container .spikeball-counter-results .set .set-points .point-lose {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .container .spikeball-counter-results .set .set-points .point-get.red, .App .container .spikeball-counter-results .set .set-points .point-lose.red {
  background: #44070b;
}

.App .container .spikeball-counter-results .set .set-points .point-get.blue, .App .container .spikeball-counter-results .set .set-points .point-lose.blue {
  background: #082263;
}

.App .container .spikeball-counter-results .set .set-points-total {
  margin: 1rem auto;
  max-width: 700px;
}

.App .container .spikeball-counter-results .set .set-points-total .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.App .container .spikeball-counter-results .set .set-points-total .total .team {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #020202;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .container .spikeball-counter-results .set .set-points-total .total .team-total,
.App .container .spikeball-counter-results .set .set-points-total .total .team .player,
.App .container .spikeball-counter-results .set .set-points-total .total .team .afterMistake {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  border: 1px solid #020202;
}

.App .container .spikeball-counter-results .set .set-points-total .total .team-total {
  font-size: 2rem;
}

.App .container .spikeball-counter-results .set .set-points-total .total .team-total-small {
  font-size: 0.8rem;
}

.App .container .spikeball-counter-results .set .set-points-total .total .team-small {
  text-align: center;
  font-size: 0.8rem;
}

.App .container .spikeball-counter-results .set .set-points-total .total .team.red {
  background-color: #ce1622;
}

.App .container .spikeball-counter-results .set .set-points-total .total .team.blue {
  background-color: #1754ed;
}

.App .container .spikeball-counter-results .set .set-points-total .game-duration {
  padding: 1rem;
}

.App .container .spikeball-counter-results .new-game {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .container .spikeball-counter-results .new-game-btn {
  padding: 1rem 1.5rem;
  width: 250px;
  border: none;
  outline: none;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fbd429;
  font-weight: bold;
}

.App .container .gameboard .change-servers {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.App .container .gameboard .button {
  margin: 1rem;
}

.App .container .gameboard .button-btn {
  padding: 1rem 1.5rem;
  width: 200px;
  border: none;
  outline: none;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fbd429;
  font-weight: bold;
}

.App .container .about-app {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
}

.App .container .about-app .list {
  margin: 1rem auto;
  width: 180px;
  list-style: none;
  font-size: 1.5rem;
}

.App .container .about-app .list-item {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.App .container .about-app .list-item.html {
  color: #ec6231;
}

.App .container .about-app .list-item.css {
  color: #1a6fb4;
}

.App .container .about-app .list-item.sass {
  color: #c66394;
}

.App .container .about-app .list-item.js {
  color: #efd81d;
}

.App .container .about-app .list-item.react {
  color: #5ed4f3;
}

.App .container .about-app .list-item.node {
  color: #3c873a;
}

.App .container .about-app .list-item.mongo {
  color: #569134;
}

.App .container .about-app .list-item .mongo {
  height: 1.5rem;
  width: 1.5rem;
}

.App .container .about-app .list-item .mongo .photo {
  width: 100%;
  height: 100%;
}

.App .container .about-app .creator {
  font-size: 1.3rem;
  color: purple;
  text-decoration: none;
}

.App .container .about-app .creator:hover {
  text-decoration: underline;
}

.App.dark-mode {
  background-color: #1a1919;
  color: #999;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.App.dark-mode .navbar-nav-mobile-side .list-mobile .list-item {
  color: #999;
  border-bottom: 4px solid #999;
  background: rgba(2, 2, 2, 0.9);
}

.App.dark-mode .navbar-nav .list-item {
  color: #999;
}

.App.dark-mode .navbar-nav .list-item:hover {
  color: #fbd429;
}

.App.dark-mode .container {
  border-top: 3px solid #fbd429;
  border-radius: 5px;
}

.App.dark-mode .container .swiper-slide {
  background: #b3b3b3;
  color: #020202;
}

.App.dark-mode .spikeball-counter-logo {
  height: 220px;
  background: url(./img/sb_logo_counter_darkmode.png);
  background-size: cover;
  background-position: center;
}

.App.dark-mode .spikeball-counter-options .form .options-select-max-points .max-points-select {
  background: #fbd429;
  font-size: 1.1rem;
  margin: 0.2rem;
  padding: 0.2rem;
  outline: none;
  border: none;
}

.App.dark-mode .spikeball-counter-options .form .options-select-bo {
  padding: 1rem;
}

.App.dark-mode .spikeball-counter-options .form .options-select-bo .bo-select {
  background: #fbd429;
  font-size: 1.1rem;
  margin: 0.2rem;
  padding: 0.2rem;
  outline: none;
  border: none;
}

.App.dark-mode .spikeball-counter-options .form .option-players .info {
  border-color: #fbd429;
}

.App.dark-mode .spikeball-counter .neon {
  color: #39ff14;
}

.App.dark-mode .spikeball-counter .neon-bg {
  background: #39ff14;
}

.App.dark-mode .select-style {
  background: #fbd429;
  font-size: 1.1rem;
  margin: 0.2rem;
  padding: 0.2rem;
  outline: none;
  border: none;
}

.App.dark-mode .rules-accordions .accordion {
  background: #b3b3b3;
}

.App.dark-mode .rules-accordions .accordion .list .item:before {
  background: #b3b3b3;
}

.App.dark-mode .rules-accordions .accordion .list-list .item:before {
  background: #b3b3b3;
}

.App.light-mode {
  background-color: #fdfdfd;
  color: #020202;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.App.light-mode .navbar-nav-mobile-side .list-mobile .list-item {
  background: rgba(250, 247, 248, 0.9);
  color: #020202;
  border-bottom: 4px solid #020202;
}

.App.light-mode .navbar-nav .list-item {
  color: #020202;
}

.App.light-mode .navbar-nav .list-item:hover {
  color: #fbd429;
}

.App.light-mode .container {
  border-top: 3px solid #020202;
  border-radius: 5px;
}

.App.light-mode .spikeball-counter-logo {
  background: url(./img/sb_logo_counter_lightmode.png);
  background-size: cover;
}

.App.light-mode .spikeball-counter-options .form .options-select-max-points .max-points-select {
  font-size: 1.1rem;
  margin: 0.2rem;
  padding: 0.2rem;
  outline: none;
  border: none;
}

.App.light-mode .spikeball-counter-options .form .options-select-bo {
  padding: 1rem;
}

.App.light-mode .spikeball-counter-options .form .options-select-bo .bo-select {
  font-size: 1.1rem;
  margin: 0.2rem;
  padding: 0.2rem;
  outline: none;
  border: none;
}

.App.light-mode .spikeball-counter-options .form .option-players .info {
  border-color: #fbd429;
}

.App.light-mode .spikeball-counter .yellow {
  color: #fbd429;
}

.App.light-mode .spikeball-counter .yellow-bg {
  background: #fbd429;
}

.App.light-mode .spikeball-counter .white {
  color: white;
}

.App.light-mode .select-style {
  font-size: 1.1rem;
  margin: 0.2rem;
  padding: 0.2rem;
  outline: none;
  border: none;
}

.App.light-mode .black {
  color: #020202;
}

@media (min-width: 767px) {
  .App .navbar-logo {
    top: 0;
  }
  .App .navbar-nav {
    display: block;
  }
  .App .navbar-nav-mobile {
    display: none;
  }
  .App .navbar-nav-mobile-side .list-mobile {
    display: none;
  }
  .App .container {
    margin: 0 auto;
  }
  .App .container .spikeball-counter-options .form {
    max-width: 575px;
  }
  .App .container .spikeball-counter-options .form .teams {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
    width: 100%;
  }
  .App .container .spikeball-counter-options .form .teams .form-group {
    margin: 0 1rem;
  }
  .App .container .spikeball-counter-game .rounds .round {
    -ms-grid-columns: (1fr)[11];
        grid-template-columns: repeat(11, 1fr);
  }
  .App .container .spikeball-counter-results .set .set-points {
    -ms-grid-columns: (1fr)[11];
        grid-template-columns: repeat(11, 1fr);
  }
  .App .container .rules .swiper-container {
    height: 450px;
  }
}

@-webkit-keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=App.css.map */