@import "../../utilsSCSS/colors.scss";

.toggle-container {
  width: 100vw;
  max-width: 45px;
  height: 45px;
  position: absolute;
  right: 50%;
  top: 18px;
  border-radius: 50%;
  overflow: hidden;
  transform: translate(50%);
  z-index: 4;
  .toggle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    .btn {
      cursor: pointer;
      border: none;
      outline: none;
      border-radius: 50% 0 0 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 103%;
      height: 103%;
      font-size: 1.5rem;

      &.dark-mode {
        background-image: url(./img/stars.jpg);
        background-position: center;
        background-size: cover;
        color: $color-moon-glow;
      }
      &.light-mode {
        background: $color-blue-sky;
        color: $color-yellow-main;
      }
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
}

@media (min-width: 767px) {
  .toggle-container {
    top: 16px;
    right: 32px;
  }
}
